@font-face {
  font-family: 'ico';
  src: url('../images/ico20160803.ttf') format('truetype');
  font-weight: normal;
  font-style: normal
}

[class^="ico-"]:before,
[class*="ico-"]:before {
  font-family: 'ico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  vertical-align: baseline
}
.ico-search:before {
  content: "\E601" // 搜索
}
.ico-morepoint:before {
  content: "\E602" // 更多专辑
}
.ico-morearrow:before {
  content: "\E603" // 更多内容
}
.ico-home:before {
  content: "\E604" // 首页
}
.ico-downarrow:before {
  content: "\E605" //  向下箭头
}
.ico-uparrow:before {
  content: "\E606" // 向上箭头
}
.ico-disease:before {
  content: "\E607" // 疾病
}
.ico-foodmaterial:before {
  content: "\E608" // 食材
}
.ico-doubt:before {
  content: "\E609" // 问
}
.ico-answer:before {
  content: "\E610" // 答
}
.ico-knowledge:before {
  content: "\E611" // 知识百科
}
.ico-smile:before {
  content: "\E612" // 笑脸
}
.ico-diet:before {
  content: "\E613" // 饮食
}
.ico-life:before {
  content: "\E614" // 生活
}
.ico-movement:before {
  content: "\E615" // 运动
}
.ico-symptoms:before {
  content: "\E616" // 病症
}
.ico-beauty:before {
  content: "\E617" // 美容
}
.ico-love:before {
  content: "\E618" // 收藏
}
.ico-browse:before {
  content: "\E619" // 浏览
}
.ico-quotes_l:before {
  content: "\E620" // 左引号
}
.ico-quotes_r:before {
  content: "\E621" // 右引号
}
.ico-todownarrow:before {
  content: "\E622" // 指向下
}
.ico-touparrow:before {
  content: "\E623" // 指向上
}
.ico-again:before {
  content: "\E624" // 重新
}
.ico-information:before {
  content: "\E625" // 资讯
}
.ico-chinesemedicine:before {
  content: "\E626" // 中医
}
.ico-herbs:before {
  content: "\E627" // 药材
}
.ico-commonsense:before {
  content: "\E628" // 常识
}
.ico-health:before {
  content: "\E629" // 健康
}
.ico-healthmaintenance:before {
  content: "\E630" // 养生
}
.ico-backup:before {
  content: "\E631" // 返回顶部
}
.ico-close:before {
  content: "\E632" // 删除
}
.ico-back:before {
  content: "\E633" // 返回
}
.ico-chinamedical:before {
  content: "\E634" // 中医2
}
.ico-thealbum:before {
  content: "\E635"  // 专辑
}
