/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0
}

body, button, input, select, textarea {
  font-size: 12px;
  font-family: "微软雅黑", Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%
}

ul, li {
  list-style: none;
}

img {
  border: none;
}

body {
  background: url(../img/pc/body_bg.gif) repeat;
  color: #333333;
}

a {
  text-decoration: none;
  color: #666;
  // box-shadow: 1px 1px 4px #D2d2d2;

  &:hover {
    color: #fa4b6e;
    text-decoration: underline;

    img {
      opacity: 0.9;
    }
  }
}


// 通用
.cen {
  margin: 0 auto;
  width: 1000px;
  overflow: hidden;
}

.right {
  float: right;
  text-align: right;
}

.left, .left_page {
  float: left;
  width: 100%;
}

.mt20 {
  margin-top: 20px;
}

.clr {
  clear: both;
}
