
.index{
  &_first {
    width: 980px;
    padding: 10px;
    float: left;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px #D2d2d2;
  }

  &_tab {
    width: 180px;
    float: left;
    margin: 8px 0 0 20px;
    .menu1box {
      float: left;
      font-size: 14px;
      width: 100%;
      height: 18px;
      margin-bottom: 20px;
      ul {
        li {
          width: 46px;
          height: 18px;
          line-height: 18px;
          border-left: 3px solid #fff;
          float: left;
          margin-right: 7px;
          text-align: center;
          cursor: pointer;
          display: block;
          &:hover, &.hover {
            border-left: 3px solid #FA4B6E;
            font-weight: 800;
          }
        }
      }
    }
    .main1box {
      float: left;
      width: 100%;
      clear: both;
      ul {
        display: none;
        &.block {
          display: block;
        }
      }
      .main {
        ul {
          li {
            height: 28px;
            width: 170px;
            line-height: 28px;
            background: url(../img/pc/point.gif) no-repeat left;
            padding-left: 10px;
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.line_x {
              background: none;
              margin-top: 28px;
              border-top: 1px dotted #CCCCCC;
            }
          }
        }
      }
    }
  }
}

