@charset "utf-8";

@import "../scss/global";
@import "../scss/ads";

.head{
  &_search {
    width: 100%;
    float: left;
    height: 50px;
    line-height: 50px;
  }
  &_index {
    background: url(../img/pc/head_bg.gif) repeat-x;
    width: 100%;
    float: left;
    height: 165px;
    border: none;
  }
  &_logo{
    width: 1000px;
    float: left;
    height: 80px;
    color: #0e0a0c;
    .logo {
      width: 250px;
      height: 47px;
      float: left;
      margin: 12px 0 0 0;
      img {
        border: none;
      }
    }
    .updown {
      width: 250px;
      float: right;
      margin: 28px 3px auto auto;
      p {
        height: 15px;
        line-height: 15px;
        width: 100%;
        float: left;
        margin-bottom: 6px;
        span {
          float: right;
          margin-left: 10px;
          b {
            background: url(../img/pc/common.png) no-repeat;
            width: 16px;
            height: 16px;
            float: left;
            margin-right: 3px;
          }
          &.up b {
            background-position: 0 0;
          }
          &.sc b {
            background-position: -18px 0;
          }
        }
      }
    }
    a, a:hover {
      color: #0e0a0c;
    }
  }
  &_nav {
    width: 1000px;
    float: left;
    height: 35px;
    line-height: 12px;
    a {
      width: 90px;
      text-align: center;
      float: left;
      margin-right: 10px;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
      color: #FFFFFF;
      &:hover {
        color: #FA4B6E;
      }
      &.on, &:hover {
        background-color: #515151;
        border-bottom: 3px solid #FA4B6E;
        height: 32px;
        font-weight: 800;
        font-size: 14px;
        text-decoration: none;
      }
      &.nav_rec {
        width: 110px;
        margin-right: 0;
        background: url(../img/pc/common.png) 0 -140px no-repeat;
        text-align: left;
        float: right;
        padding-left: 85px;
        overflow: hidden;
        &:hover {
          border: none;
          height: 35px;
          background: url(../img/pc/common.png) 0 -175px no-repeat;
        }
      }
    }
  }
}

.searchbar {
  width: 200px;
  height: 32px;
  float: left;
  background: url(../img/pc/common.png) 0 -25px no-repeat;
  line-height: 32px;
  color: #999999;
  font-size: 12px;
  margin-top: 9px;
  input{
    &.search-keyword {
      border: none;
      background: none;
      margin-left: 10px;
      color: #999999;
      margin-right: 7px;
      width: 155px;
      float: left;
      height: 32px;
      line-height: 32px;
    }
  }
  button{
    &.search-submit {
      border: none;
      background: none;
      width: 25px;
      float: left;
      height: 32px;
      line-height: 32px;
      cursor: pointer;
    }
  }
}

.hotbeauty {
  float: left;
  margin-left: 20px;
  a {
    margin-right: 10px;
  }
  strong {
    color: #FA4B6E;
  }
}




.promp1 {
  width: 770px;
  float: left;
  overflow: hidden;
  &-wrap {
    width: 100%;
    height: 471px;
    overflow: hidden;
    float: left;
    padding: 5px 0;
    background-color: #E3E3E3;
    margin-bottom: 20px;
  }
  .nav-pics {
    padding-top: 10px;
    width: 776px;
    padding-left: 6px;
    margin-left: -5px;
    list-style: none;
    overflow: hidden;
    z-index: 2;
    height: 71px;
    li {
      float: left;
      width: 150px;
      height: 60px;
      margin-right: 5px;
      padding-bottom: 7px;
      border-bottom: 3px solid #E3E3E3;
      img {
        height: 60px;
        display: block;
        margin: 0 auto;
      }
    }
    .active {
      border-bottom: 3px solid #fa4b6e;
    }
  }
  .cur-link {
    display: block;
    width: 770px;
    height: 370px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}



.model{
  &rec {
    width: 1010px;
    margin: 0 auto;
    &si {
      width: 5px;
      height: 31px;
      float: left;
      background: url(../img/pc/common.png) 0 -215px no-repeat;
      margin-top: 18px;
    }
    &title {
      float: left;
      width: 100%;
      height: 37px;
      overflow: hidden;
      h3 {
        width: 120px;
        height: 37px;
        float: left;
        background: url(../img/pc/common.png) 0 -62px no-repeat;
      }
    }
  }
  &r {
    width: 980px;
    float: left;
    background: #fff;
    padding: 15px 20px 15px 0;
    box-shadow: 1px 1px 4px #D2d2d2;
    margin-bottom: 20px;
  }
}

.more {
  float: right;
  a {
    font-size: 12px;
    height: 37px;
    line-height: 37px;
  }
}

.rollBox {
  padding: 25px 0 0 20px;
  float: left;
  width: 960px;
  overflow: hidden;
  .LeftBotton,  .RightBotton, .LeftBotton:hover, .RightBotton:hover {
    height: 37px;
    width: 20px;
    background: url(../img/pc/common.png) 0 -102px no-repeat;
    overflow: hidden;
    float: left;
    display: inline;
    margin: 30px 0 0 0;
    cursor: pointer;
  }
  .RightBotton {
    background: url(../img/pc/common.png) -25px -102px no-repeat;
  }
  .LeftBotton:hover {
    background: url(../img/pc/common.png) -59px -102px no-repeat;
  }
  .RightBotton:hover {
    background: url(../img/pc/common.png) -84px -102px no-repeat;
  }
  .Cont {
    width: 880px;
    overflow: hidden;
    float: left;
    margin: 0 20px;
    .pic {
      width: 100px;
      float: left;
      text-align: center;
      height: 130px;
      margin-right: 30px;
      img {
        display: block;
        width: 100px;
        height: 100px;
      }
      p {
        line-height: 30px;
        height: 30px;
        a {
          font-size: 14px;
        }
      }
    }
  }
  .ScrCont {
    width: 10000000px;
  }
  #List1, #List2 {
    float: left;
  }
}

.model_rank {
  width: 180px;
  padding: 15px;
  float: left;
  background: #fff;
  margin: 0 0 20px 0;
  .title {
    padding: 0;
    width: 180px;
    h3 {
      height: 18px;
      line-height: 18px;
      font-size: 14px;
      width: 70px;
    }
    .more a {
      height: 18px;
      line-height: 18px;
    }
  }
}

.title {
  float: left;
  margin-bottom: 15px;
  width: 990px;
  padding-left: 10px;
  h1, h3 {
    float: left;
    width: 120px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 800;
    border-left: 3px solid #FA4B6E;
    padding-left: 8px;
    margin-left: 5px;
    a {
      color: #333333;
    }
  }
  .more {
    float: right;
    a {
      height: 20px;
      line-height: 20px;
    }
  }
}

.pic_cont {
  width: 170px;
  padding: 0 5px;
  float: left;
  li {
    width: 100%;
    float: left;
    color: #666;
    height: 23px;
    line-height: 23px;
    margin-bottom: 15px;
    &.pic {
      width: 160px;
      padding: 5px;
      margin-bottom: 15px;
      height: 50px;
      background: #F3F3F3;
      margin-top: 5px;
      span.ppic {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 5px;
        a {
          font-weight: 800;
        }
      }
      span.click {
        float: left;
        margin: 7px 0 0 5px;
      }
    }
    a {
      font-size: 14px;
      color: #333;
      &:hover {
        color: #fa4b6e;
      }
    }
    span{
      &.name {
        float: left;
      }
      &.click {
        float: right;
      }
      i {
        color: #FA4B6E;
        margin: 0 7px 0 0;
        float: left;
        font-size: 14px;
      }
    }

  }
}


.pic_rec {
  width: 790px;
  float: left;
  overflow: hidden;
  padding-top: 15px;
  margin: 0 0 20px 0;
  &_title {
    float: left;
    margin-bottom: 15px;
    width: 760px;
    padding-left: 30px;
    h3 {
      height: 18px;
      line-height: 18px;
      font-size: 16px;
      float: left;
      width: 120px;
      font-weight: 800;
      border-left: 3px solid #FA4B6E;
      padding-left: 8px;
      margin-left: 5px;
    }
    .more a {
      height: 18px;
      line-height: 18px;
    }
  }
  &_cont {
    float: left;
    width: 100%;
  }
  li.wh170 {
    margin: 0 0 7px 27px;
    width: 170px;
    float: right;
    .wh170img {
      width: 150px;
      height: 210px;
      border: 10px solid #fff;
      overflow: hidden;
      float: left;
      background: #fff;
      box-shadow: 1px 1px 4px #D2d2d2;
    }
  }
  .wh170txt {
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .wh170zt {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    background: #ffffff;
    line-height: 35px;
    text-align: center;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

li.wh170 {
  margin: 0 25px 25px 0;
  width: 180px;
  float: left;
  .wh170img {
    width: 160px;
    height: 160px;
    border: 10px solid #fff;
    overflow: hidden;
    float: left;
    background: #fff;
    box-shadow: 1px 1px 4px #D2d2d2;
  }
}


.pos {
  float: left;
  padding: 15px 0 15px 18px;
  height: 17px;
  line-height: 17px;
  background: url(../img/pc/page.gif) no-repeat left;
  color: #666666;
}



.info {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

.litpic {
  width: 130px;
  height: 180px;
  float: left;
  margin-right: 25px;
  img {
    width: 130px;
    height: 170px;
    box-shadow: 1px 1px 4px #D2d2d2;
  }
}

.des {
  width: 550px;
  float: left;
  height: 170px;
  li {
    width: 100%;
    float: left;
    h1 {
      font-size: 20px;
      color: #333333;
      font-weight: normal;
      float: left;
      height: 28px;
      line-height: 28px;
      margin-right: 15px;
    }
    span {
      height: 28px;
      line-height: 28px;
      b {
        font-size: 20px;
        color: #FE8192;
      }
    }
    b {
      font-size: 14px;
    }
    &.page_k {
      overflow: hidden;
      width: 100%;
    }
    &.des_text {
      line-height: 18px;
      height: 54px;
      overflow: hidden;
      float: left;
      b {
        font-size: 12px;
      }
    }
    strong, a strong {
      color: #FE8192;
      font-size: 14px;
      margin-right: 10px;
    }
  }
}



.imagebody {
  float: left;
  width: 960px;
  overflow: hidden;
  text-align: center;
  strong{
    &.imgtitle {
      display: none;
    }
  }
  p {
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }
}

.imagebody img, .starpic img, .newsbody img {
  max-width: 960px;
  height: auto;
  width: expression(this.width > 960 ? "960px" : this.width);
  -moz-box-shadow: 3px 3px 4px #999999;
  -webkit-box-shadow: 3px 3px 4px #999999;
  box-shadow: 3px 3px 4px #999999;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#999999');
}

.tips {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

.pagecont {
  padding: 20px;
  width: 960px;
  float: left;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 4px #D2d2d2;
  margin-bottom: 20px;
}

.pagelist {
  text-align: center;
  height: 39px;
  line-height: 32px;
  font-size: 14px;
  color: #666;
  float: left;
  width: 100%;
  a {
    font-family: "宋体";
    display: inline-block;
    height: 32px;
    text-align: center;
    padding: 0 5px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #666;
    background: -moz-linear-gradient(top, #ffffff, #eaeaea); /* Firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    &:hover {
      border-color: #fa4b6e;
      color: #fa4b6e;
    }
  }
  .thisclass {
    border-color: #e72c52;
    background: #f33f63;
    color: #fff;
    filter: none; /* IE*/
    &:hover {
      border-color: #e72c52;
      background: #f33f63;
      color: #fff;
    }
  }
}


.pic170 {
  width: 170px;
  float: left;
  text-align: center;
  height: 200px;
  margin-right: 8px;
  img {
    display: block;
    width: 160px;
    height: 160px;
  }
  p {
    line-height: 30px;
    height: 30px;
    a {
      font-size: 14px;
    }
  }
}


.left_page .rollBox .LeftBotton, .left_page .rollBox .RightBotton, .left_page .rollBox .LeftBotton:hover, .left_page .rollBox .RightBotton:hover {
  margin: 70px 0 0 0;
}

li.w130 {
  width: 150px;
  float: left;
  margin: 0 20px 10px 0;
  .w130img {
    width: 130px;
    overflow: hidden;
    height: 170px;
    float: left;
    border: 10px solid #fff;
    background: #fff;
    box-shadow: 1px 1px 4px #D2d2d2;
  }
  .w130txt {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.piccont1 {
  float: left;
  width: 1030px;
  margin-bottom: 10px;
}

li.w370 {
  width: 390px;
  float: left;
  margin: 0 10px 7px 0;
  .w370img {
    width: 370px;
    border: 10px solid #fff;
    overflow: hidden;
    height: 260px;
    float: left;
    background: #fff;
    box-shadow: 1px 1px 4px #D2d2d2;
  }
  .w370txt {
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

li.w300 {
  width: 320px;
  float: left;
  margin: 0 20px 7px 0;
  .w300img {
    width: 300px;
    border: 10px solid #fff;
    overflow: hidden;
    height: 400px;
    float: left;
    background: #fff;
    box-shadow: 1px 1px 4px #D2d2d2;
  }
  .w300txt {
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}



li.pic100 {
  width: 100px;
  float: left;
  margin: 0 10px 7px 0;
  .pic100img {
    width: 100px;
    overflow: hidden;
    height: 100px;
    float: left;
    box-shadow: 1px 1px 4px #D2d2d2;
  }
  .pic100txt {
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    float: left;
  }
}


li.w170 {
  width: 180px;
  float: left;
  margin: 0 25px 15px 0;
  .w170img {
    width: 160px;
    border: 10px solid #fff;
    overflow: hidden;
    height: 210px;
    float: left;
    background: #fff;
    box-shadow: 1px 1px 4px #D2d2d2;
  }
  .w170txt {
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .w170tg {
    width: 100%;
    float: left;
    background: #fdfdfd;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


.inews {
  background: #fff;
  float: left;
  width: 960px;
  padding: 20px;
  box-shadow: 1px 1px 4px #D2d2d2;
  margin-bottom: 20px;

  &_pic {
    float: left;
    padding: 18px 0 0 18px;
    background: #F3F3F3;
    margin-right: 40px;
  }
  &_link {
    width: 260px;
    float: left;
    margin-right: 20px;
    height: 236px;
    overflow: hidden;
    li {
      width: 250px;
      float: left;
      height: 28px;
      line-height: 28px;
      background: url(../img/pc/point.gif) left no-repeat;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.inewstt {
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        background: none;
      }
      a {
        font-size: 14px;
      }
    }
  }
  .title {
    padding: 0;
    width: 100%;
  }
}

.links {
  width: 100%;
  float: left;
  ul {
    width: 100%;
    float: left;
  }
  li {
    width: 137px;
    float: left;
    margin: 7px 0;
    text-align: center;
    img {
      border: 1px solid #e8e8e8;
      padding: 5px;
      display: block;
      margin: 0 auto;
    }
  }
}

.footer_bg {
  float: left;
  width: 100%;
  background: url(img/foot_bg.gif) repeat-x #E0E0E0;
  padding: 35px 0;
  text-align: center;
  color: #a4a4a4;
}

.starpic {
  width: 310px;
  height: 455px;
  float: left;
  overflow: hidden;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #FF3366;
  font-weight: 800;
  margin-right: 20px;
  span {
    color: #1FB7D1;
    font-size: 12px;
    font-weight: normal;
  }
  img {
    margin-bottom: 10px;
  }
}

.starinfo {
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 22px;
  height: 525px;
  overflow: hidden;
}

.starcont {
  width: 100%;
  float: left;
  line-height: 24px;
  font-size: 14px;
  p {
    margin-bottom: 15px;
    text-indent: 2em;
  }
  .starcont {
    width: 630px;
  }
}

.startitle {
  width: 100%;
  background: url(../img/pc/startitle.jpg) repeat-x;
  font-size: 14px;
  color: #999999;
  font-weight: 800;
  height: 60px;
  line-height: 60px;
  float: left;
  margin-bottom: 15px;
  strong {
    font-size: 20px;
    color: #FE8092;
    margin-right: 10px;
  }
  span {
    float: right;
    width: 310px;
  }
}

.startphotos {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.startphotos li.w130 {
  margin-left: 22px;
  margin-bottom: 20px;
}

ul.starnews li {
  width: 50%;
  float: left;
  margin: 5px 0;
}

ul.starnews li a {
  margin-left: 15px;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  line-height: 20px;
  height: 20px;
  background: url(../img/pc/point.gif) left no-repeat;
  font-size: 14px;
  float: left;
}

ul.starnews li span {
  font-size: 12px;
  font-style: italic;
  color: #CCCCCC;
}

.news_right {
  width: 350px;
  float: right;
  padding-top: 8px;
  .title {
    width: 340px;
    padding: 0;
  }
  .pic_rec_cont {
    margin-bottom: 10px;
  }
}

li.recnews {
  background: url(../img/pc/point.gif) left no-repeat;
  height: 22px;
  line-height: 22px;
  float: left;
  padding-left: 12px;
  margin-right: 20px;
  width: 308px;
  margin-bottom: 10px;
  a {
    font-size: 14px;
    color: #666666;
  }
}

.news_left {
  float: left;
  width: 620px;
  background: #fff;
  padding: 20px 15px 20px 20px;
  .title {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    background: url(../img/pc/startitle.jpg) repeat-x;
    height: 45px;
    line-height: 45px;
    padding-top: 15px;
    h1 {
      float: left;
      height: 20px;
      line-height: 20px;
      font-size: 20px;
      font-weight: 800;
      border-left: 3px solid #CCCCCC;
      padding-left: 8px;
      color: #FE8092;
    }
  }
  .newslike {
    width: 100%;
    float: left;
  }
  .title_news {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    border-bottom: 2px #CCCCCC dotted;
    height: 45px;
    line-height: 45px;
    padding: 15px 0;
    h1 {
      float: left;
      height: 20px;
      line-height: 20px;
      font-size: 20px;
      font-weight: 800;
      border-left: 3px solid #CCCCCC;
      padding-left: 8px;
      color: #FE8092;
    }
    p {
      width: 100%;
      float: left;
      height: 20px;
      line-height: 20px;
      color: #999999;
      padding-top: 10px;
    }
  }
  .pic_rec_cont ul {
    padding: 0 20px;
    li {
      width: 565px;
      padding-left: 15px;
      float: left;
      height: 30px;
      line-height: 30px;
      background: url(../img/pc/point.gif) left no-repeat;
      &.line {
        background: none;
        border-bottom: 1px dashed #CCCCCC;
        height: 15px;
        line-height: 15px;
        margin-bottom: 15px;
      }
      small {
        float: left;
        margin-right: 5px;
        color: #FF0000;
      }
      a {
        font-size: 14px;
        margin-right: 15px;
        float: left;
      }
      span {
        color: #999999;
        float: left;
        padding-top: 1px;
        font-family: "宋体";
      }
    }
  }
}


.newsbody {
  width: 100%;
  float: left;
  padding: 15px 0 0 0;
  line-height: 26px;
  font-size: 16px;
  p, center {
    margin-bottom: 20px;
  }
  p {
    line-height: 28px;
    color: #333333;
  }
  a {
    color: #FE8092;
    border-bottom: 1px dotted #FE8092;
    text-decoration: none;
    u {
      text-decoration: none;
    }
  }
}


.text-pic-tt a {
  color: #FE8092;
  border-bottom: 1px dotted #FE8092;
  text-decoration: none;
  u {
    text-decoration: none;
  }
}


.newsbody img, .newsbody p img {
  width: expression(this.width > 610 ? "610px" : this.width);
  max-width: 610px;
  height: auto;
}

.text-pic-tt {
  padding-top: 8px;
  font-size: 14px;
  color: #666666;
  padding-bottom: 25px;
}

.newslike .title_news {
  height: 18px;
  line-height: 18px;
  border: none;
  padding: 0;
  margin-top: 30px;
  h4 {
    float: left;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    font-weight: 800;
    border-left: 3px solid #CCCCCC;
    padding-left: 8px;
    color: #FE8092;
  }
  span {
    float: left;
    margin-left: 20px;
    border-bottom: 1px dotted #CCCCCC;
    height: 8px;
    line-height: 8px;
    width: 520px;
  }
  .newslike_cont {
    width: 610px;
    padding-left: 10px;
    float: left;
  }
  .newslike_cont {
    li {
      padding-left: 10px;
      width: 600px;
      margin-right: 0;
      overflow: hidden;
      float: left;
      height: 30px;
      line-height: 30px;
      background: url(../img/pc/point.gif) left no-repeat;
    }
    a {
      font-size: 14px;
      float: left;
    }
    span {
      padding-left: 10px;
      color: #8C8D8E;
      float: left;
      padding-top: 1px;
      font-family: "宋体";
    }
  }
}


.starmore .startitle span {
  font-weight: normal;
  float: right;
  text-align: right;
  a {
    font-size: 12px;
    text-decoration: none;
    strong {
      font-size: 14px;
      margin: 0;
      padding: 0 5px;
    }
  }
}


.map_li {
  width: 880px;
  float: left;
  margin: 15px 0;
  background: #FFFFFF;
  padding: 30px 0 15px 100px;
  &_title {
    width: 100px;
    float: left;
    a {
      font-size: 16px;
      color: #FE8092;
    }
  }
  &_cont {
    width: 730px;
    float: right;
    li {
      width: 120px;
      margin-right: 25px;
      float: left;
      margin-bottom: 15px;
      a {
        font-size: 14px;
      }
    }
  }
}

a.map_rec {
  color: #FE8092
}
a.mx_key {
  background: url(../img/pc/key.gif) no-repeat left;
  padding-left: 15px;
  font-size: 14px;
  margin-right: 10px;
  display: inline-block;
}



#index-scroll a {
  display: inline-block;
  height: 48px;
  width: 44px;
  background: url(../img/pc/arrow.png) no-repeat -44px 0;
  &:hover {
    background: url(../img/pc/arrow.png) no-repeat;
  }
}

#ds-thread #ds-reset .ds-powered-by {
  display: none;
}
